body {
    font-family: sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 140px;
    background-color: #ddd;
    border: 1px solid #333;
    cursor: pointer;
}